<h2 id="quest-title">Quests</h2>
<table class="index clue-table" summary="Quest Table">
    <thead>
        <tr>
            <th scope="col">Quest</th>
            <th class="sortable" scope="col">Difficulty</th>
            <th class="sortable" scope="col">Quest Points</th>
            <th scope="col">Free/Members</th>
        </tr>
    </thead>
    {{#each f2p_quests}}
        <tbody>
            <tr>
                <td><a href="{{concat '/quest/' url}}">{{quest_name}}</a></td>
                <td data-value="{{#ifCond difficulty '==' 'Novice'}}1{{/ifCond}}{{#ifCond difficulty '==' 'Intermediate'}}2{{/ifCond}}{{#ifCond difficulty '==' 'Experienced'}}3{{/ifCond}}{{#ifCond difficulty '==' 'Master'}}4{{/ifCond}}{{#ifCond difficulty '==' 'Grandmaster'}}5{{/ifCond}}">{{difficulty}}</td>
                <td>{{qp}}</td>
                <td>{{members}}</td>
            </tr>
        </tbody>
    {{/each}}

    {{#each member_quests}}
        <tbody>
            <tr>
                <td><a href="{{concat '/quest/' url}}">{{quest_name}}</a></td>
                <td data-value="{{#ifCond difficulty '==' 'Novice'}}1{{/ifCond}}{{#ifCond difficulty '==' 'Intermediate'}}2{{/ifCond}}{{#ifCond difficulty '==' 'Experienced'}}3{{/ifCond}}{{#ifCond difficulty '==' 'Master'}}4{{/ifCond}}{{#ifCond difficulty '==' 'Grandmaster'}}5{{/ifCond}}">{{difficulty}}</td>
                <td>{{qp}}</td>
                <td>{{members}}</td>
            </tr>
        </tbody>
    {{/each}}
</table>