<h1 id="calculator-title">Prayer Calculator</h1>

<table class="table-container" id="table-details-wrapper">
    <tbody>
        <tr>
            <td id="calculator-options" colspan="6">
                <div id="highscore-wrapper">
                    <label id="highscore-label"  for="highscore-username">Username</label>
                    <input id="highscore-username"  type="text" placeholder="Username" data-type="Prayer" />
                    <input class="highscore-submit" type="submit" />
                </div>

                <div id="level-wrapper">
                    <label for="current-level-input">Current Level</label>
                    <input class="level-input" id="current-level-input" type="text" maxlength="2" value="1" />
                    <label for="target-level-input">Target Level</label>
                    <input class="level-input" id="target-level-input" type="text" maxlength="2" value="2" />
                </div>

                <div id="exp-wrapper">
                    <label for="current-exp-input">Current Exp</label>
                    <input class="exp-input" id="current-exp-input" type="text" maxlength="2" value="0" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="calculator-options" colspan="6">
                <input id="ectofuntus-input" type="radio" name="prayer" />
                <label for="ectofuntus-input">Ectofuntus</label>
                <input id="gilded-input" type="radio" name="prayer" checked />
                <label for="gilded-input">Gilded Altar (2 Burners)</label>
            </td>
        </tr>
        <tr>
            <td class="calculator-options" colspan="6">
                <input class="calculate-submit" id="prayer-submit" type="submit" value="Calculate" />
            </td>
        </tr>
    </tbody>
</table>

<h2 class="subheaders">Bones</h2>

<table class="table-container">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Name</th>
            <th class="sortable" scope="col">Exp</th>
            <th class="gp-per-exp-column sortable" scope="col">GP/EXP</th>
            <th class="sortable" scope="col">Profit</th>
            <th class="sortable" scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
    {{#each bones_list}}
        <tr class="bone" data-id="{{id}}" data-exp="{{exp}}">
            <td class="td-img"> <a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="tippy" data-title="{{name}}" src="{{concat 'base_url' '/templates/bundle/assets/rs_items/' file_name}}" /> </a></td>
            <td>{{name}}</td>
            <td class="exp">{{math exp '*' 3.5 false}}</td>
            <td class="gp-per-exp negative">-</td>
            <td class="profit negative">-</td>
            <td class="amount">{{ceil (math 83 '/' (math exp '*' 3.5 false) false) true}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<h2 class="subheaders">Ensouled Heads</h2>

<table id="ensouled_table" class="table-container">
    <thead>
        <tr>
            <th scope="col">Magic Level</th>
            <th scope="col">Item</th>
            <th scope="col">Name</th>
            <th scope="col">Runes</th>
            <th class="sortable" scope="col">Exp</th>
            <th class="gp-per-exp-column sortable" scope="col">GP/EXP</th>
            <th class="sortable" scope="col">Profit</th>
            <th class="sortable" scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
    {{#each ensouled_list}}
        <tr class="ensouled" data-id="{{id}}" data-exp="{{exp}}">
            <td>{{magic_level}}</td>
            <td class="td-img"> <a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="tippy" data-title="{{name}}" src="{{concat 'base_url' '/templates/bundle/assets/rs_items/' file_name}}" /> </a></td>
            <td>{{name}}</td>
            <td class="ingredient">{{#each runes}}<span class="content" data-id="{{id}}" data-multiple="{{accessDict multiple id}}"><span class="multiple">{{accessDict multiple id}}</span><a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="ingredient-img tippy" data-title="{{#if multiple}}{{accessDict multiple id}}x{{/if}} {{name}}" src="{{concat 'base_url' '/templates/bundle/assets/rs_items/' file_name}}" /> </a> </span>{{/each}}</td>
            <td class="exp">{{exp}}</td>
            <td class="gp-per-exp negative">-</td>
            <td class="profit negative">-</td>
            <td class="amount">{{ceil (math 83 '/' exp false) true}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>