<h1 id="calculator-title">Smithing Calculator</h1>
<table class="table-container" id="table-details-wrapper">
    <tbody>
        <tr>
            <td id="calculator-options" colspan="6">
                <div id="highscore-wrapper">
                    <label id="highscore-label" for="highscore-username">Username</label>
                    <input id="highscore-username" type="text" placeholder="Username" data-type="Smithing" />
                    <input class="highscore-submit" type="submit" />
                </div>

                <div id="level-wrapper">
                    <label for="current-level-input">Current Level</label>
                    <input class="level-input" id="current-level-input" type="text" maxlength="2" value="1" />
                    <label for="target-level-input">Target Level</label>
                    <input class="level-input" id="target-level-input" type="text" maxlength="2" value="2" />
                </div>

                <div id="exp-wrapper">
                    <label for="current-exp-input">Current Exp</label>
                    <input class="exp-input" id="current-exp-input" type="text" maxlength="2" value="0" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="calculator-options" colspan="6">
                <input class="calculate-submit" id="smithing-submit" type="submit" value="Calculate" />
            </td>
        </tr>
    </tbody>
</table>

<h2 class="subheaders">Smith</h2>

<table id="smithing_table" class="table-container">
    <thead>
        <tr>
            <th class="sortable" scope="col">Smithing Level</th>
            <th scope="col">Item</th>
            <th scope="col">Name</th>
            <th scope="col">Resources</th>
            <th class="sortable" scope="col">Exp</th>
            <th class="gp-per-exp-column sortable" scope="col">GP/EXP</th>
            <th class="sortable" scope="col">Profit</th>
            <th class="sortable" scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
    {{#each smithing_list}}
        <tr class="smith" data-id="{{output.id}}" data-exp="{{exp}}">
            <td>{{smithing_level}}</td>
            <td><span class="output_wrapper">{{#ifCond output.multiple '>' 1}}<span class="multiple">{{output.multiple}}</span>{{/ifCond}}<a href="{{concat 'base_url' '/grand-exchange/' output.id}}"> <img class="output tippy" data-title="{{#ifCond output.multiple '>' 1}}{{output.multiple}}x {{/ifCond}}{{output.name}}" src="{{concat 'base_url' '/templates/bundle/assets/rs_items/' output.file_name}}" data-multiple="{{output.multiple}}"/> </a></span></td>
            <td>{{#if name}}{{name}}{{else}}{{output.name}}{{/if}}</td>
            <td class="ingredient">{{#each input}}<span class="content" data-id="{{id}}" data-multiple="{{multiple}}"><span class="multiple">{{multiple}}</span><a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="ingredient-img tippy" data-title="{{multiple}}x {{name}}" src="{{concat 'base_url' '/templates/bundle/assets/rs_items/' file_name}}" /> </a> </span>{{/each}}</td>
            <td class="exp">{{exp}}</td>
            <td class="gp-per-exp">-</td>
            <td class="profit">-</td>
            <td class="amount">{{ceil (math 83 '/' exp false) true}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>