<a href="{{concat 'base_url' '/grand-exchange'}}"><h2>{{this.0.title}}</h2></a>

<table id="table-container">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Name</th>
            <th scope="col">Buy Approx. At</th>
            <th scope="col">Sell Approx. At</th>
            <th scope="col">Buy Quantity</th>
            <th scope="col">Sell Quantity</th>
            <th scope="col">GE Limit</th>
            <th scope="col">Profit</th>
        </tr>
    </thead>
    <tbody>
    {{#each this}}
        <tr>
            <td> <a href="{{concat 'base_url' '/grand-exchange/' id}}"> <img class="tippy" data-title="{{name}}" src="{{concat 'base_url' '/templates/bundle/assets/rs_items/' file_name}}" /> </a></td>
            <td>{{name}}</td>
            <td>{{numCommaFormat selling}}{{#if sell_updated_time}}<a id="question" class="tippy" data-title="The last known result was updated {{timePassed sell_updated_time}} ago.">?</a>{{/if}}</td>
            <td>{{numCommaFormat buying}}{{#if buy_updated_time}}<a id="question" class="tippy" data-title="The last known result was updated {{timePassed buy_updated_time}} ago.">?</a>{{/if}}</td>
            <td>{{numCommaFormat buy_quantity}}</td>
            <td>{{numCommaFormat sell_quantity}}</td>
            <td>{{numCommaFormat limit}}</td>
            <td class="{{#ifCond profit '>' 0}}positive{{/ifCond}}{{#ifCond profit '<' 0}}negative{{/ifCond}}">{{#ifCond profit '>' 0}}+{{/ifCond}} {{numCommaFormat profit}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>